<h1>Create Song</h1>
<form action="/songs/new/<%=@slug%>" method="post">

  <label>Song Name:</label>
  <input type="text" name="song[name]">

  <label>Genre Name:</label>
  <input type="text" name="genre[name]">

  <label>Artist Name:</label>
  <input type="text" name="artist[name]">

  <input type="submit" value="Submit">

</form>
