<h1>Create Song</h1>
<form action="/songs/new" method="post">

  <label>Name:</label>
  <input type="text" name="Name">

  <input type="checkbox" name="New Age Garbage">
  <input type="checkbox" name="Hippity Hop">

  <label>Genre Name:</label>
  <input type="text" name="genre[name]">

  <label>Artist Name:</label>
  <input type="text" name="artist[name]">

  <input type="submit" value="submit">

</form>
